// ----------------------------------------------------------------------------
// Set a responsive-styled CSS property.
// ----------------------------------------------------------------------------
// $mapped-value contains list of property values
// for different screen widths.
@mixin responsive-prop($property, $mapped-values) {
  @each $breakpoint, $value in $mapped-values {
    @include media-breakpoint-up($breakpoint) {
      #{$property}: $value;
    }
  }
}

// ----------------------------------------------------------------------------
// Create a triangle
// ----------------------------------------------------------------------------
@mixin triangle($dir, $size, $color) {
  border: $size transparent solid;

  @if ($dir == "top" or $dir == "up") {
    border-bottom-color: $color;
  }
  @else if ($dir == "right" or $dir == "after") {
    border-left-color: $color;
  }
  @else if ($dir == "bottom" or $dir == "down") {
    border-top-color: $color;
  }
  @else if ($dir == "left" or $dir == "before") {
    border-right-color: $color;
  }
}
