// All screens

body {
  font-family: $global-txt-font;
  color: $global-txt-color;
  line-height: 1.15;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $global-headers-font;
}

header {
  padding-top: $header-padding-top;
  padding-bottom: $header-padding-bottom;

  .header-title {
    font-size: $header-title-font-size;
    text-align: center;
    color: $header-title-txt-color;
  }
}

.social {
  padding: $social-padding;
  margin-bottom: $spacer/2;

  li {
    margin: $social-icon-margin;
    list-style: none outside none;
    display: inline-block;

    i {
      width: $social-icon-size;
      height: $social-icon-size;
      color: $social-icon-color;
      font-size: $social-icon-size*0.6;
      text-align: center;
      padding-top: $social-icon-size*0.2;
      border-radius: 50%;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      //-o-border-radius: 50%;
    }
  }
}

.login-signup {
  margin-top: $logsign-margin-top;
  font-size: $logsign-font-size;
  color: $logsign-txt-color;

  a {
    color: $logsign-txt-color;
  }
}

.navbar{
  // Any element with margin-top: $global-block-my
  // will follow the navbar without gap
  margin: 0 0 (-$global-block-my) 0;
  font-size: $navbar-font-size;
  min-height: $navbar-collapsed-height;

  .navbar-collapse {
    @extend .d-lg-flex;

    .navbar-nav {
      @extend .d-lg-flex;
      @extend .justify-content-lg-around;
      width: 100%;
    }
    .form-inline {
      flex-basis: $searchbox-width;
      flex-shrink: 0;
    }
  }

  .input-group-btn {
    border: $searchbox-btn-border;

    .btn {
      border:none;
      background-color: $input-group-addon-bg;

      .icon-search {
        color: $input-group-addon-border-color;
      }
    }
  }
}

#carousel-inspiration {
  margin: $global-block-my auto $carousel-mb auto;
  max-width: $carousel-img-width;

  .carousel-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    z-index: $overlay-z-index;

    .overlay-header {
      font-size: $overlay-header-font-size;
      color: $overlay-header-color;
      width: 100%;
      text-align: center;
      margin-top: $overlay-header-mt;
      margin-bottom: 0;
    }

    .overlay-txt {
      // 1st invisible block - for 'justify-content' aligning
      &:first-of-type {
        visibility: hidden;
      }
      &:last-of-type {
        padding-bottom: $overlay-txt-pb;
      }
      padding-top: $overlay-txt-pt;
      padding-left: $overlay-txt-px;
      padding-right: $overlay-txt-px;
      font-size: $overlay-txt-font-size;
      color: $overlay-txt-color;
      align-self: center;
      width: $overlay-txt-width;
      min-width: $overlay-txt-min-width;
      max-width: $overlay-txt-max-width;
      margin: 0 auto;
      text-align: center;
      background-color: $overlay-txt-bg-color;
    }

    button {
      font-size: $overlay-btn-font-size;
      position: absolute;
      bottom: $overlay-btn-bottom;
      left: 50%;
      transform: translate(-50%, $overlay-btn-translate-y);
      padding: $overlay-btn-padding;
    }
  }
}

.txt-container {
  text-align: center;
  font-size: $txt-cntnr-font-size;
  margin: $global-block-my 0;
}

#carousel-makeovers {
  margin: $global-block-my 0;
  text-align: center;

  .carousel-header {
    margin: $global-block-my 0;

    h2 {
      font-size: $carousel-header-font-size;
      margin: $global-elem-my;
    }
    p {
      font-size: $carousel-header-txt-font-size;
      margin: $global-elem-my;
    }
  }

  .carousel-indicators {
    position: inherit;
    li {
      height: auto;
      width: auto;
      max-width: 100%;
      flex-grow: 0;
      margin: 0 30px;
      padding: 10px 0;
      text-indent: 0;
      font-size: $carousel-indicators-font-size;
      text-align: center;
      color: $carousel-indicators-inactive-color;
      background-color: transparent;
      &.active {
        color: $carousel-indicators-active-color;
        border-bottom: 3px solid $carousel-indicators-active-color;
      }
    }
  }

  .carousel-inner {

    .carousel-item {

      .carousel-caption {
        width: $carousel-caption-width;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        right: auto;
        bottom: auto;
        background-color: $carousel-caption-bg-color;

        h3 {
          font-size: $carousel-caption-header-font-size;
          color: $global-txt-color;
        }

        p {
          font-size: $carousel-caption-txt-font-size;
          color: $global-txt-color;
        }
      }
    }
  }

  .carousel-control-next,
  .carousel-control-prev{
    i {
      font-size: $carousel-controls-size;
      width: $carousel-controls-size;
      height: $carousel-controls-size;
      color: $carousel-controls-arrow-color;
      text-align: center;
      margin: 0;
      padding: 0;
      line-height: 0.9em;
      border-radius: 50%;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      border: 3px solid $carousel-controls-border-color;
    }
  }
  .carousel-control-prev i { text-indent: -2px; }
  .carousel-control-next i { text-indent: 2px; }
}
