@import "bootstrap/bootstrap";

// For debugging
.border-black {border: 1px solid black}
.border-red {border: 1px solid red}
.border-green {border: 1px solid green}
.border-blue {border: 1px solid blue}
.bg-black {background-color: black}
.bg-white {background-color: white}
.bg-red {background-color: lightpink}
.bg-green {background-color: lightgreen}
.bg-blue {background-color: lightblue}

// Text container
$txt-cntnr-font: "Fira Sans";
$txt-cntnr-font-size: 1rem;
$txt-cntnr-font-size-sm: 1.75rem;
$txt-cntnr-p: $spacer;
$txt-cntnr-p-sm: $spacer * 2;

// Page header
$header-padding-top: 30px;
$header-padding-top-sm: 60px;
$header-padding-bottom: 20px;
$header-padding-bottom-sm: 40px;
$header-title-font-size: 3rem;
$header-title-font-size-sm: 4rem;
$header-title-txt-color: $white;
$header-title-font: "Playfair Display";

// Social icons block
$social-padding: 0;
$social-icon-margin: $spacer * 0.1;
$social-icon-size: 35px;
$social-icon-color: $white;

$icons-size: 1.2rem;
$icons-top-space: $spacer * 0.25;
$icons-mr: $spacer * 0.5;

// Login/signup block
$logsign-margin-top: $spacer * 0.25;
$logsign-margin-top-sm: $spacer * 0.5;
$logsign-font-size: 1rem;
$logsign-txt-color: $white;
$logsign-font: "Fira Sans";

// Navbar
$navbar-font: "Fira Sans";
$navbar-font-size: 1.25rem;
$navbar-collapsed-height: 60px;

$searchbox-width: 275px;
$searchbox-btn-border: 1px solid $input-group-addon-border-color;

// Carousel
$carousel-mb: $spacer * 3;
$carousel-mb-sm: $spacer * 2.5;
$carousel-img-width: 1600px;

$overlay-z-index: 12;

$overlay-header-font: "Playfair Display";
$overlay-header-font-size: 2rem;
$overlay-header-font-size-sm: 4rem;
$overlay-header-color: $white;
$overlay-header-mt: 8px;
$overlay-header-mt-sm: -60px;

$overlay-txt-font: "Fira Sans";
$overlay-txt-font-size: 0.7rem;
$overlay-txt-font-size-sm: 1rem;
$overlay-txt-font-size-lg: 1.5rem;
$overlay-txt-color: $black;
$overlay-txt-width: 70%;
$overlay-txt-min-width: 320px;
$overlay-txt-min-width-sm: 480px;
$overlay-txt-max-width: 830px;
$overlay-txt-bg-color: rgba(255, 255, 255, 0.8);
$overlay-txt-pt: $spacer * 0.25;
$overlay-txt-pb: $spacer * 0.5;
$overlay-txt-pb-sm: $spacer * 1.5;
$overlay-txt-px: $spacer * 0.25;
$overlay-txt-px-sm: $spacer * 2;

$overlay-btn-font: "Fira Sans";
$overlay-btn-font-size: 1rem;
$overlay-btn-font-size-sm: 1.5rem;
$overlay-btn-bottom: 0;
$overlay-btn-bottom-sm: -($spacer * 1.5);
$overlay-btn-padding: ($spacer * 0.25) ($spacer * 6);
$overlay-btn-translate-y: 100%;
$overlay-btn-translate-y-sm: 0;


.txt-container {
  text-align: center;
  font-family: $txt-cntnr-font;
  font-size: $txt-cntnr-font-size;
  padding: $txt-cntnr-p;
}

header {
  padding-top: $header-padding-top;
  padding-bottom: $header-padding-bottom;

  .header-title {
    font-family: $header-title-font;
    font-size: $header-title-font-size;
    text-align: center;
    color: $header-title-txt-color;
  }
}

.social {
  padding: $social-padding;
  margin-bottom: $spacer/2;

  li {
    margin: $social-icon-margin;
    list-style: none outside none;
    display: inline-block;

    i {
      width: $social-icon-size;
      height: $social-icon-size;
      color: $social-icon-color;
      font-size: $social-icon-size*0.6;
      text-align: center;
      padding-top: $social-icon-size*0.2;
      border-radius: 50%;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      //-o-border-radius: 50%;
    }
  }
}

.login-signup {
  margin-top: $logsign-margin-top;
  font-family: $logsign-font;
  font-size: $logsign-font-size;
  color: $logsign-txt-color;

  a {
    color: $logsign-txt-color;
  }
}

.icon {
  display: inline-block;
  width: $icons-size;
  height: $icons-size;
  position: relative;
  top: $icons-top-space;
  margin-right: $icons-mr;
  background-repeat: no-repeat;
  background-size: contain;
}
.icon-light-bulb { background-image: url("../img/icons/light-bulb.png"); }
.icon-paper { background-image: url("../img/icons/paper.png"); }
.icon-cart { background-image: url("../img/icons/cart.png"); }
.icon-star { background-image: url("../img/icons/star.png"); }
.icon-speeches { background-image: url("../img/icons/speeches.png"); }

.navbar{
  font-family: $navbar-font;
  font-size: $navbar-font-size;
  min-height: $navbar-collapsed-height;

  .navbar-collapse {
    @extend .d-lg-flex;

    .navbar-nav {
      @extend .d-lg-flex;
      @extend .justify-content-lg-around;
      width: 100%;
    }
    .form-inline {
      flex-basis: $searchbox-width;
      flex-shrink: 0;
    }
  }

  .input-group-btn {
    border: $searchbox-btn-border;

    .btn {
      border:none;
      background-color: $input-group-addon-bg;

      .icon-search {
        color: $input-group-addon-border-color;
      }
    }
  }
}

#carousel-inspiration {
  margin: 0 auto $carousel-mb auto;
  max-width: $carousel-img-width;

  .carousel-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    z-index: $overlay-z-index;

    .overlay-header {
      font-family: $overlay-header-font;
      font-size: $overlay-header-font-size;
      color: $overlay-header-color;
      width: 100%;
      text-align: center;
      margin-top: $overlay-header-mt;
      margin-bottom: 0;
    }

    .overlay-txt {
      // 1st invisible block - for 'justify-content' aligning
      &:first-of-type {
        visibility: hidden;
      }
      &:last-of-type {
        padding-bottom: $overlay-txt-pb;
      }
      padding-top: $overlay-txt-pt;
      padding-left: $overlay-txt-px;
      padding-right: $overlay-txt-px;
      font-family: $overlay-txt-font;
      font-size: $overlay-txt-font-size;
      color: $overlay-txt-color;
      align-self: center;
      width: $overlay-txt-width;
      min-width: $overlay-txt-min-width;
      max-width: $overlay-txt-max-width;
      margin: 0 auto;
      text-align: center;
      background-color: $overlay-txt-bg-color;
    }

    button {
      font-family: $overlay-btn-font;
      font-size: $overlay-btn-font-size;
      position: absolute;
      bottom: $overlay-btn-bottom;
      left: 50%;
      transform: translate(-50%, $overlay-btn-translate-y);
      padding: $overlay-btn-padding;
    }
  }
}


// SM and larger screens (> 540px)
@include media-breakpoint-up(sm) {
  .txt-container {
    font-size: $txt-cntnr-font-size-sm;
    padding: $txt-cntnr-p-sm;
  }

  header {
    padding-top: $header-padding-top-sm;
    padding-bottom: $header-padding-bottom-sm;

    .header-title {
      font-size: $header-title-font-size-sm;
    }
  }

  .login-signup {
    margin-top: $logsign-margin-top-sm;
  }

  #carousel-inspiration {
    margin-bottom: $carousel-mb-sm;

    .carousel-overlay {
      .overlay-header {
        margin-top: $overlay-header-mt-sm;
        font-size: $overlay-header-font-size-sm;
      }
      .overlay-txt {
        &:last-of-type {
          padding-bottom: $overlay-txt-pb-sm;
        }
        padding-left: $overlay-txt-px-sm;
        padding-right: $overlay-txt-px-sm;
        font-size: $overlay-txt-font-size-sm;
        min-width: $overlay-txt-min-width-sm;
      }
      button {
        font-size: $overlay-btn-font-size-sm;
        bottom: $overlay-btn-bottom-sm;
        transform: translate(-50%, $overlay-btn-translate-y-sm);
      }
    }
  }
}

// LG and larger screens (> 992px)
@include media-breakpoint-up(lg) {
  #carousel-inspiration {
    .carousel-overlay {
      .overlay-txt {
        font-size: $overlay-txt-font-size-lg;
      }
    }
  }
}