// All screens

body {
  font-family: $global-txt-font;
  color: $global-txt-color;
  line-height: 1.15;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $global-headers-font;
}

header {
  padding-top: $header-padding-top;
  padding-bottom: $header-padding-bottom;

  .header-title {
    font-size: $header-title-font-size;
    text-align: center;
    color: $header-title-txt-color;
  }
}

.social {
  padding: $social-padding;
  margin-bottom: $spacer/2;

  li {
    margin: $social-icon-margin;
    list-style: none outside none;
    display: inline-block;

    i {
      width: $social-icon-size;
      height: $social-icon-size;
      color: $social-icon-color;
      font-size: $social-icon-size*0.6;
      text-align: center;
      padding-top: $social-icon-size*0.2;
      border-radius: 50%;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      //-o-border-radius: 50%;
    }
  }
}

.login-signup {
  margin-top: $logsign-margin-top;
  font-size: $logsign-font-size;
  color: $logsign-txt-color;

  a {
    color: $logsign-txt-color;
  }
}

.navbar{
  // Any element with margin-top: $global-block-spacer
  // will follow the navbar without gap
  margin: 0 0 (-$global-block-spacer) 0;
  font-size: $navbar-font-size;
  min-height: $navbar-collapsed-height;

  .navbar-collapse {
    @extend .d-lg-flex;

    .navbar-nav {
      @extend .d-lg-flex;
      @extend .justify-content-lg-around;
      width: 100%;
    }
    .form-inline {
      flex-basis: $searchbox-width;
      flex-shrink: 0;
    }
  }

  .input-group-btn {
    border: $searchbox-btn-border;

    .btn {
      border:none;
      background-color: $input-group-addon-bg;

      .icon-search {
        color: $input-group-addon-border-color;
      }
    }
  }
}

.txt-container {
  text-align: center;
  font-size: $txt-cntnr-font-size;
  margin: $global-block-spacer 0;
}

.carousel {
  margin: $global-block-spacer 0;
  text-align: center;

  .carousel-header {
    margin: $global-block-spacer 0;

    h2 {
      font-size: $carousel-header-font-size;
      margin: $global-elem-spacer;
    }
    p {
      font-size: $carousel-header-txt-font-size;
      margin: $global-elem-spacer;
    }
  }

  .carousel-indicators {
    position: inherit;
    li {
      height: auto;
      width: auto;
      max-width: 100%;
      flex-grow: 0;
      margin: 0 30px;
      padding: 10px 0;
      text-indent: 0;
      font-size: $carousel-indicators-font-size;
      text-align: center;
      color: $carousel-indicators-inactive-color;
      background-color: transparent;
      &.active {
        color: $carousel-indicators-active-color;
        border-bottom: 3px solid $carousel-indicators-active-color;
      }
    }
  }

  .carousel-inner {

    .carousel-item {
      justify-content: space-between;

      .makeovers-img-holder {
        width: 49%;
        background-size: auto;
        background-repeat: no-repeat;
      }

      #img-bedroom-left { background-image: url("../img/slider2-slide1-img1.png"); }
      #img-bedroom-right { background-image: url("../img/slider2-slide1-img2.png"); }
      #img-guestroom-left { background-image: url("../img/slider2-slide1-img1.png"); }
      #img-guestroom-right { background-image: url("../img/slider2-slide1-img2.png"); }
      #img-bathroom-left { background-image: url("../img/slider2-slide1-img1.png"); }
      #img-bathroom-right { background-image: url("../img/slider2-slide1-img2.png"); }
      #img-kitchen-left { background-image: url("../img/slider2-slide1-img1.png"); }
      #img-kitchen-right { background-image: url("../img/slider2-slide1-img2.png"); }

      .carousel-caption {
        width: $carousel-caption-width;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        right: auto;
        bottom: auto;
        background-color: $carousel-caption-bg-color;

        h3 {
          font-size: $carousel-caption-header-font-size;
          color: $global-txt-color;
        }

        p {
          font-size: $carousel-caption-txt-font-size;
          color: $global-txt-color;
        }
      }
    }




    .carousel-item-row {
      font-size: 0;
      -ms-flex-wrap: wrap;
      -ms-flex-direction: column;
      -webkit-flex-flow: row wrap;
      flex-flow: row wrap;

      .carousel-img-wrapper {
        flex: auto;
        width: 1px; // Any px value for proper sizing
        &:not(:first-of-type) {
          margin-left: 1rem;
        }

        .carousel-img {
          width: 100%;
          height: auto;
        }
      }
    }
    .carousel-item-row.active {
      display: -ms-flexbox;
      display: -webkit-box;
      display: flex;
    }


    }

  .carousel-control-next,
  .carousel-control-prev{
    i {
      font-size: $carousel-controls-size;
      width: $carousel-controls-size;
      height: $carousel-controls-size;
      color: $carousel-controls-arrow-color;
      text-align: center;
      margin: 0;
      padding: 0;
      line-height: 0.9em;
      border-radius: 50%;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      border: 3px solid $carousel-controls-border-color;
    }
  }
  .carousel-control-prev i { text-indent: -2px; }
  .carousel-control-next i { text-indent: 2px; }

  .carousel-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    z-index: $overlay-z-index;

    .overlay-header {
      font-size: $overlay-header-font-size;
      color: $overlay-header-color;
      width: 100%;
      text-align: center;
      margin-top: $overlay-header-mt;
      margin-bottom: 0;
    }

    .overlay-txt {
      // 1st invisible block - for 'justify-content' aligning
      &:first-of-type {
        visibility: hidden;
      }
      &:last-of-type {
        padding-bottom: $overlay-txt-pb;
      }
      padding-top: $overlay-txt-pt;
      padding-left: $overlay-txt-px;
      padding-right: $overlay-txt-px;
      font-size: $overlay-txt-font-size;
      color: $overlay-txt-color;
      align-self: center;
      width: $overlay-txt-width;
      min-width: $overlay-txt-min-width;
      max-width: $overlay-txt-max-width;
      margin: 0 auto;
      text-align: center;
      background-color: $overlay-txt-bg-color;
    }

    button {
      font-size: $overlay-btn-font-size;
      position: absolute;
      bottom: $overlay-btn-bottom;
      left: 50%;
      transform: translate(-50%, $overlay-btn-translate-y);
      padding: $overlay-btn-padding;
    }
  }
}

#carousel-inspiration {
  margin: $global-block-spacer auto $carousel-mb auto;
  max-width: $carousel-img-width;
}

.ideas {
  margin: $global-block-spacer 0;
  font-size: $ideas-txt-font-size;

  .ideas-header {
    font-size: $ideas-header-font-size;
    text-align: center;
    margin: $global-block-spacer 0;
  }

  .ideas-list {
    @extend .list-unstyled;

    .idea {
      display: flex;
      flex-direction: column;
      align-items: center;  // Image ratio retain
      margin: $global-block-spacer 0;

      .idea-img {
        width: 50%;
        margin: 0 0 $global-elem-spacer 0;
      }
      .idea-body {
        padding: $global-elem-spacer;

        .idea-floats-wrapper {
          padding: $global-elem-spacer 0;
          font-size: $idea-floats-font-size;
          @extend .clearfix;

          .idea-tags { float: left;}
          .idea-date { float: right;}
        }

        .idea-header {
          font-size: $idea-header-font-size;
          margin: $global-block-spacer 0;
        }
        .idea-teaser{}
        .idea-btn-wrapper {
          display: flex;
          justify-content: center;
          padding: $global-block-spacer 0;

          .btn {
            padding: $global-elem-spacer $global-elem-spacer*8;
          }
        }
      }
    }
  }
  .ideas-btn-wrapper {
    display: flex;
    justify-content: center;
    padding: $global-block-spacer 0;

    .btn {
      width: 50%;
      min-width: 250px;
      padding: $global-elem-spacer 0;
      font-size: $ideas-btn-font-size;
    }
  }
}

.picture {

   .picture__img {
     width: 100%;
     height: 100%;
   }

   .picture__caption {
     text-align: center;
     padding: $global-elem-spacer 0;
   }
 }

.gallery {

  .gallery__header {
    font-size: $gallery-header-font-size;
    text-align: center;
    margin: $global-block-spacer 0;
  }

  .gallery__body {
    @extend .row;
    justify-content: center;

    .gallery__item {
      @extend .col-auto;
      width: $gallery-item-size;
      margin: $global-elem-spacer;
    }
  }
}

.shop {
  font-size: $shop-txt-font-size;
  margin: $global-block-spacer 0;

  .shop__header {
    font-size: $shop-header-font-size;
    text-align: center;
  }

  .shop__btn-wrapper {
    display: flex;
    justify-content: center;
    padding: $global-block-spacer 0;

    .shop__btn {
      @extend .btn;
      @extend .btn-primary;
      font-size: $shop-btn-font-size;
      padding: $global-elem-spacer $global-elem-spacer*8;
    }
  }
}
