// SM and larger screens (> 540px)

@include media-breakpoint-up(sm) {
  body {
    font-size: $global-txt-font-size-sm;
  }
  h1 {
    font-size: $global-h1-font-size-sm;
  }
  h2 {
    font-size: $global-h2-font-size-sm;
  }
  h3 {
    font-size: $global-h3-font-size-sm;
  }

  header {
    padding-top: $header-padding-top-sm;
    padding-bottom: $header-padding-bottom-sm;

    .header-title {
      //font-size: $header-title-font-size-sm;
    }
  }

  .login-signup {
    margin-top: $logsign-margin-top-sm;
  }

  .navbar {
    // Any element with margin-top: $global-block-spacer
    // will follow the navbar without big gap
    margin: 0.25*$global-block-spacer-sm 0 (-0.75*$global-block-spacer-sm) 0;
  }

  .txt-container {
    font-size: $txt-cntnr-font-size-sm;
  }

  .carousel {
    margin: $global-block-spacer-sm 0;

    .carousel-header {
      margin: $global-block-spacer-sm 0;

      h2 {
        //font-size: $carousel-header-font-size-sm;
        margin: $global-elem-spacer-sm;
      }
      p {
        //font-size: $carousel-header-txt-font-size-sm;
        margin: $global-elem-spacer-sm;
      }
    }

    .carousel-indicators {
      position: inherit;
      li {
        height: auto;
        width: auto;
        max-width: 100%;
        flex-grow: 0;
        margin: 0 30px;
        padding: 10px 0;
        text-indent: 0;
        //font-size: $carousel-indicators-font-size;
        text-align: center;
        color: $carousel-indicators-inactive-color;
        background-color: transparent;
        &.active {
          color: $carousel-indicators-active-color;
          border-bottom: 3px solid $carousel-indicators-active-color;
        }
      }
    }

    .carousel-inner {

      .carousel-item {

        .carousel-caption {
          width: $carousel-caption-width;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          right: auto;
          bottom: auto;
          background-color: $carousel-caption-bg-color;

          h3 {
            //font-size: $carousel-caption-header-font-size;
            color: $global-txt-color;
          }

          p {
            //font-size: $carousel-caption-txt-font-size;
            color: $global-txt-color;
          }
        }
      }
    }

    .carousel-control-next,
    .carousel-control-prev{
      i {
        font-size: $carousel-controls-size;
        width: $carousel-controls-size;
        height: $carousel-controls-size;
        color: $carousel-controls-arrow-color;
        text-align: center;
        margin: 0;
        padding: 0;
        line-height: 0.9em;
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border: 2px solid $carousel-controls-border-color;
      }
    }
    .carousel-control-prev i { text-indent: -2px; }
    .carousel-control-next i { text-indent: 2px; }

    .carousel-overlay {
      .overlay-header {
        margin-top: $overlay-header-mt-sm;
        font-size: $overlay-header-font-size-sm;
      }
      .overlay-txt {
        &:last-of-type {
          padding-bottom: $overlay-txt-pb-sm;
        }
        padding-left: $overlay-txt-px-sm;
        padding-right: $overlay-txt-px-sm;
        font-size: $overlay-txt-font-size-sm;
        min-width: $overlay-txt-min-width-sm;
      }
      button {
        font-size: $overlay-btn-font-size-sm;
        bottom: $overlay-btn-bottom-sm;
        transform: translate(-50%, $overlay-btn-translate-y-sm);
        padding: $overlay-btn-padding-sm;
      }
    }
  }

  #carousel-inspiration {
    margin: $global-block-spacer-sm auto $carousel-inspiration-mb-sm auto;
  }

  .ideas {
    margin: $global-block-spacer-sm 0;
    //font-size: $ideas-txt-font-size-sm;

    .ideas-header {
      //font-size: $ideas-header-font-size-sm;
      margin: $global-block-spacer-sm 0;
    }

    .ideas-list {

      .idea {
        margin: $global-block-spacer-sm 0;
        flex-direction: row;
        align-items: flex-start;  // Image ratio retain

        .idea-img {
          margin: 0 $global-elem-spacer 0 0;
        }
        .idea-body {
          padding: $global-elem-spacer-sm;

          .idea-floats-wrapper {
            padding: $global-elem-spacer-sm 0;
            font-size: $idea-floats-font-size-sm;

            .idea-tags {}
            .idea-date {}
          }

          .idea-header {
            //font-size: $idea-header-font-size-sm;
            margin: $global-block-spacer-sm 0;
          }
          .idea-teaser{
            font-size: $idea-txt-font-size-sm;
          }
          .idea-btn-wrapper {
            padding: $global-block-spacer-sm 0;

            .btn {
              padding: $global-elem-spacer-sm $global-elem-spacer-sm*8;
            }
          }
        }
      }
    }
    .ideas-btn-wrapper {
      padding: $global-block-spacer-sm 0;

      .btn {
        min-width: $ideas-btn-min-width-sm;
        padding: $global-elem-spacer-sm 0;
      }
    }
  }

  .picture {

    .picture__img {
    }

    .picture__caption {
      font-size: $picture-font-size-sm;
      padding: $global-elem-spacer-sm 0;
    }
  }

  .gallery {

    .gallery__header {
      //font-size: $gallery-header-font-size-sm;
      margin: $global-block-spacer-sm 0;
    }

    .gallery__body {

    }
  }
  .gallery--4col {
    .gallery__item {
      @include make-col(1, 4);
    }
  }
  .gallery--5col {
    .gallery__item {
      @include make-col(1, 5);
    }
  }

  .shop {
    //font-size: $shop-txt-font-size-sm;
    margin: $global-block-spacer-sm 0;

    .shop__header {
      //font-size: $shop-header-font-size-sm;
    }

    .shop__btn-wrapper {
      padding: $global-block-spacer-sm 0;

      .shop__btn {
        font-size: $shop-btn-font-size;
        padding: $global-elem-spacer-sm $global-elem-spacer-sm*8;
      }
    }
  }

}
