// Globals
$global-block-my: $spacer;
$global-block-my-sm: $spacer *2;
$global-elem-my: $spacer * 0.5;
$global-elem-my-sm: $spacer * 0.5;
$global-headers-font: "Playfair Display";
$global-txt-font: "Fira Sans Light";
$global-txt-color: rgb(51, 51, 51);

// Text container
$txt-cntnr-font-size: 1rem;
$txt-cntnr-font-size-sm: 1.5rem;

// Page header
$header-padding-top: 20px;
$header-padding-top-sm: 40px;
$header-padding-bottom: 15px;
$header-padding-bottom-sm: 20px;
$header-title-font-size: 2.5rem;
$header-title-font-size-sm: 3.5rem;
$header-title-txt-color: $white;

// Social icons block
$social-padding: 0;
$social-icon-margin: $spacer * 0.1;
$social-icon-size: 35px;
$social-icon-color: $white;

// Login/signup block
$logsign-margin-top: $spacer * 0.25;
$logsign-margin-top-sm: $spacer * 0.5;
$logsign-font-size: 1rem;
$logsign-txt-color: $white;

// Navbar
$navbar-font-size: 1.25rem;
$navbar-collapsed-height: 60px;

$searchbox-width: 275px;
$searchbox-btn-border: 1px solid $input-group-addon-border-color;

// Carousel
// 1
$carousel-mb: $global-block-my*3.5;
$carousel-mb-sm: $global-block-my*4;
$carousel-img-width: 1600px;

$overlay-z-index: 12;

$overlay-header-font-size: 2rem;
$overlay-header-font-size-sm: 4rem;
$overlay-header-color: $white;
$overlay-header-mt: 8px;
$overlay-header-mt-sm: -60px;

$overlay-txt-font-size: 0.8rem;
$overlay-txt-font-size-sm: 1.2rem;
$overlay-txt-font-size-lg: 1.5rem;
$overlay-txt-color: $black;
$overlay-txt-width: 70%;
$overlay-txt-min-width: 320px;
$overlay-txt-min-width-sm: 480px;
$overlay-txt-max-width: 830px;
$overlay-txt-bg-color: rgba(255, 255, 255, 0.8);
$overlay-txt-pt: $spacer * 0.5;
$overlay-txt-pb: $spacer * 0.5;
$overlay-txt-pb-sm: $spacer * 2;
$overlay-txt-px: $spacer * 0.25;
$overlay-txt-px-sm: $spacer * 2;

$overlay-btn-font-size: 1rem;
$overlay-btn-font-size-sm: 1.5rem;
$overlay-btn-bottom: 0;
$overlay-btn-bottom-sm: -($spacer * 1.8);
$overlay-btn-padding: ($spacer * 0.5) ($spacer * 4);
$overlay-btn-padding-sm: ($spacer * 0.5) ($spacer * 6);
$overlay-btn-translate-y: 100%;
$overlay-btn-translate-y-sm: 0;

// 2
$carousel-header-font-size: 1.5rem;
$carousel-header-font-size-sm: 2.5rem;
$carousel-header-txt-font-size: 1rem;
$carousel-header-txt-font-size-sm: 1.5rem;

$carousel-indicators-font-size: 1.5rem;
$carousel-indicators-inactive-color: rgb(51, 51, 51);
$carousel-indicators-active-color: $brand-primary;

$carousel-caption-width: 40%;
$carousel-caption-bg-color: rgba(255, 255, 255, 0.651);
$carousel-caption-header-font-size: 2rem;
$carousel-caption-txt-font-size: 1.5rem;

$carousel-controls-size: 40px;
$carousel-controls-arrow-color: $brand-primary;
$carousel-controls-border-color: rgb(172, 172, 172);
