// ----------------------------------------------------------------------------
// Globals
// ----------------------------------------------------------------------------

// Global larger spacers (inter-block)
$global-block-spacer: $spacer*2;
$global-block-spacer-sm: $spacer*2;
$global-block-spacers-vertical: (
        xs: $global-block-spacer 0,
        sm: $global-block-spacer-sm 0,
);
$global-block-spacers-all: (
        xs: $global-block-spacer,
        sm: $global-block-spacer-sm,
);

// Global smaller spacers (inter-element)
$global-elem-spacer: $spacer * 0.5;
$global-elem-spacer-sm: $spacer * 0.5;
$global-elem-spacers-vertical: (
        xs: $global-elem-spacer 0,
        sm: $global-elem-spacer-sm 0,
);
$global-elem-spacers-all: (
        xs: $global-elem-spacer,
        sm: $global-elem-spacer-sm,
);

// Global fonts
$global-headers-font: "Playfair Display";
$global-h1-font-sizes: (
        xs: 2.5rem,
        sm: 60px,
);
$global-h2-font-sizes: (
        xs: 1.5rem,
        sm: 44px,
);
$global-h3-font-sizes: (
        xs: 1.2rem,
        sm: 30px,
);
$global-txt-font: "Fira Sans";
$global-txt-font-sizes: (
        xs: 1rem,
        sm: 1.5rem,
);
$global-txt-color: rgb(51, 51, 51);


// ----------------------------------------------------------------------------
// Page header
// ----------------------------------------------------------------------------
$header-paddings: (
        xs: 20px 0 15px 0,
        sm: 40px 0 20px 0,
);
$header-title-txt-color: $white;

// ----------------------------------------------------------------------------
// Social icons block
// ----------------------------------------------------------------------------
$social-padding: 0;
$social-icon-margin: $spacer * 0.1;
$social-icon-size: 35px;
$social-icon-color: $white;

// ----------------------------------------------------------------------------
// Login/signup block
// ----------------------------------------------------------------------------
$logsign-margins: (
        xs: 0.25rem 0 0 0,
        sm: 0.5rem 0 0 0,
);
$logsign-font-size: 1rem;
$logsign-txt-color: $white;

// ----------------------------------------------------------------------------
// Navbar
// ----------------------------------------------------------------------------
// Any element with margin-top: $global-block-spacer
// will follow the navbar without too big spacer
$navbar-margins: (
        xs: 0 0 (-$global-block-spacer) 0,
        sm: 0.25*$global-block-spacer-sm 0 (-0.75*$global-block-spacer-sm) 0,
);
$navbar-font-size: 1.2rem;
$navbar-collapsed-height: 60px;

$searchbox-width: 275px;
$searchbox-btn-border: 1px solid $input-group-addon-border-color;

// ----------------------------------------------------------------------------
// Text container
// ----------------------------------------------------------------------------
$txt-container-font-sizes: (
        xs: 1rem,
        sm: 1.7rem,
);

// ----------------------------------------------------------------------------
// Carousel
// ----------------------------------------------------------------------------
$crsl-margins: $global-block-spacers-vertical;

$crsl-heading-margins: $global-block-spacers-vertical;
$crsl-header-margins: $global-elem-spacers-vertical;
$crsl-subheader-margins: $global-elem-spacers-vertical;

$crsl-indicators-margins: (
        xs: 0 8px,
        sm: 0 30px,
);
$crsl-indicators-paddings: (
        xs: 5px 0,
        sm: 10px 0,
);
$crsl-indicators-inactive-color: rgb(51, 51, 51);
$crsl-indicators-active-color: $brand-primary;

$crsl-inner-paddings: (
        xs: 0 0 125px 0,
        sm: 0,
);

$crsl-caption-widths: (
        xs: 320px,
        sm: 400px,
);
$crsl-caption-paddings: $global-elem-spacers-all;
$crsl-caption-bottoms: (
        xs: 0,
        sm: 50%,
);
$crsl-caption-transforms: (
        xs: translate(-50%, 100%),
        sm: translate(-50%, 50%),
);
$crsl-caption-bg-color: rgba(255, 255, 255, 0.651);

$crsl-controls-widths: (
        xs: 15%,
        sm: 10%,
);
$crsl-controls-size: 40px;
$crsl-controls-arrow-color: $brand-primary;
$crsl-controls-border-color: rgb(172, 172, 172);

$crsl-ovrl-z-index: 12;
$crsl-ovrl-header-font-sizes: (
        xs: 2rem,
        sm: 4.5rem,
);
$crsl-ovrl-header-color: $white;
$crsl-ovrl-header-margins: (
        xs: 4px 0 0 0,
        sm: -70px 0 0 0,
);
$crsl-ovrl-txt-font-sizes: (
        xs: 0.8rem,
        sm: 1.2rem,
);
$crsl-ovrl-txt-color: $black;
$crsl-ovrl-txt-width: 50%;
$crsl-ovrl-txt-min-widths: (
        xs: 240px,
        sm: 480px,
);
$crsl-ovrl-txt-max-width: 830px;
$crsl-ovrl-txt-bg-color: rgba(255, 255, 255, 0.8);
$crsl-ovrl-txt-paddings: (
        xs: $spacer*0.5 $spacer*0.25 $spacer*0.5 $spacer*0.25,
        sm: $spacer*0.5 $spacer*0.2 $spacer*2 $spacer*0.2,
);
$crsl-ovrl-btn-bottoms: (
        xs: 0,
        sm: -($spacer * 1.8),
);
$crsl-ovrl-btn-paddings: (
        xs: ($spacer * 0.5) ($spacer * 4),
        sm: ($spacer * 0.5) ($spacer * 6),
);
$cral-ovrl-btn-transforms: (
        xs: translate(-50%, 100%),
        sm: translate(-50%, 0),
);

// ----------------------------------------------------------------------------
// #carousel-inspiration
// ----------------------------------------------------------------------------
$carousel-inspiration-margins: (
        xs: $global-block-spacer auto $global-block-spacer*2.5 auto,
        sm: $global-block-spacer-sm auto $global-block-spacer*3 auto,
);
$carousel-inspiration-img-width: 1600px;

// ----------------------------------------------------------------------------
// Ideas
// ----------------------------------------------------------------------------
$ideas-margins: $global-block-spacers-vertical;
$ideas-header-margins: $global-block-spacers-vertical;
$ideas-btn-wrapper-paddings: $global-elem-spacers-vertical;
$ideas-btn-font-size: 1em;
$ideas-btn-min-widths: (
        xs: 250px,
        sm: 500px,
);
$ideas-btn-paddings: $global-elem-spacers-vertical;

$idea-flex-directions: (
        xs: column,
        sm: row,
);
$idea-align-items: (
        xs: center,
        sm: flex-start,
);
$idea-margins: $global-block-spacers-vertical;
$idea-img-margins: (
        xs: 0,
        sm: 0 $global-elem-spacer 0 0,
);
$idea-body-paddings: (
        xs: $global-elem-spacer*2 0 0 0,
        sm: 0 0 0 $global-elem-spacer-sm*2,
);
$idea-floats-wrapper-padding: $global-elem-spacers-vertical;
$idea-floats-font-sizes: (
        xs: 0.8em,
        sm: 0.6em,
);
$idea-header-margins: $global-block-spacers-vertical;
$idea-teaser-font-sizes: (
        xs: 1em,
        sm: 0.75em,
);
$idea-teaser-line-height: 1.5;
$idea-btn-wrapper-paddings: $global-elem-spacers-vertical;
$idea-btn-paddings: (
        xs: $global-elem-spacer $global-elem-spacer*8,
        sm: $global-elem-spacer-sm $global-elem-spacer-sm*8,
);

// ----------------------------------------------------------------------------
// Picture
// ----------------------------------------------------------------------------
$picture-caption-font-sizes: (
        xs: 0.9em,
        sm: 0.75em,
);
$picture-caption-paddings: $global-elem-spacers-vertical;

// ----------------------------------------------------------------------------
// Gallery
// ----------------------------------------------------------------------------
$gallery-header-margins: $global-block-spacers-vertical;
$gallery-item-padding: 1%;

// ----------------------------------------------------------------------------
// Shop
// ----------------------------------------------------------------------------
$shop-margins: $global-block-spacers-vertical;
$shop-btn-wrapper-paddings: $global-block-spacers-vertical;
$shop-btn-font-size: 1em;
$shop-btn-paddings: (
        xs: $global-elem-spacer $global-elem-spacer*8,
        sm: $global-elem-spacer-sm $global-elem-spacer-sm*8,
);
